.medal {
  width: 300px;
  height: 360px;
  margin: 100px auto 0 auto;
}
.ribbon {
  width: 180px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  width: 105px;
  height: 100%;
  top: 0;
  /*box-shadow: 0px 0px 10px 0px #989898;*/
  border: 1px solid #CA5D3E;
}
.ribbon:before {
  right: 0;
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 33.33%, #0052A5 0, #0052A5 66.66%, #E0162B 0);
  transform: skew(-28deg);
}
.ribbon:after {
  background: linear-gradient(90deg, #0052A5 0%, #0052A5 33.33%, #FFFFFF 0, #FFFFFF 66.66%, #E0162B 0);
  transform: skew(28deg);
}
.coin {
  border: 1px solid #CA5D3E;
  border-radius: 50%;
  background: #dbbb0f;
  width: 210px;
  height: 210px;
  position: relative;
  margin: -30px auto 0 auto;
  box-shadow: 0px 0px 3px 0px #989898;
}
.years {
  text-align: center;
  position: relative;
  top: 0%;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 10em;
  font-weight: bold;
  color: #ccae0e;
}
/*
.coin:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: inherit;
  box-shadow: 0 0 0 9px #D9B867;
}
*/